/build-lib-shared/build
/build-lib-shared
/build-lib-static
/build-lib
/llama_mobile_vd-capacitor-plugin/node_modules
/examples/androidJavaSDKExample/.gradle
/examples/androidSDKExample/.gradle
/examples/flutterSDKExample/.dart_tool
/examples/flutterSDKExample/build
/llama_mobile_vd-react-native-SDK/node_modules
/llama_mobile_vd-react-native-SDK/android/.gradle
/llama_mobile_vd-flutter-SDK/build
/build-shared
/build-static
/llama_mobile_vd-ios-SDK/.build
