/build-lib-shared/build
/build-lib-shared
/build-lib-static
/build-lib
/llama_mobile_vd-capacitor-plugin/node_modules
/examples/androidJavaSDKExample/.gradle
/examples/androidSDKExample/.gradle
/examples/flutterSDKExample/.dart_tool
/examples/flutterSDKExample/build
/llama_mobile_vd-react-native-SDK/node_modules
/llama_mobile_vd-react-native-SDK/android/.gradle
/llama_mobile_vd-flutter-SDK/build
/build-shared
/build-static
/llama_mobile_vd-ios-SDK/.build
/examples/androidSDKExample/app/.cxx
/build-android-arm64-v8a
/build-android-x86_64
/examples/androidSDKExample/.idea
/examples/androidSDKExample/app/build
/examples/iOSSDKExample/build
/llama_mobile_vd-android-java-SDK/.cxx
/llama_mobile_vd-android-java-SDK/build
/llama_mobile_vd-android-SDK/.cxx
/llama_mobile_vd-android-SDK/.gradle
/llama_mobile_vd-android-SDK/.idea
/llama_mobile_vd-android-SDK/build
/llama_mobile_vd-flutter-SDK.bak
/llama_mobile_vd-ios-SDK/.swiftpm
/examples/androidJavaSDKExample/app/build
/examples/androidJavaSDKExample/.idea
/llama_mobile_vd-capacitor-plugin.bak
/llama_mobile_vd-flutter-SDK/android/.cxx
/llama_mobile_vd-react-native-SDK.bak
