<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" 
    package="com.llamamobile.vd">

    <uses-sdk
        android:minSdkVersion="21" 
        android:targetSdkVersion="36" />

    <!-- Permissions for accessing external storage -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="33" />
    
    <!-- For Android 14+, we need to handle files differently -->
    <!-- This is a general permission for non-media files -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
</manifest>
